<html>
  <head>
    <link rel="stylesheet" href="/static/demo.css" type="text/css" media="screen" />
  </head>

  <body>
    <h1>Login</h1>
    <img src="/static/thluffy.png">

    <form method="POST">
      <input type="text" name="uname">
      <input type="text" name="pword">
      <input type="checkbox" name="one" label="a" value="a">
      <input type="checkbox" name="one" label="b" value = "B">
      <input type="checkbox" name="one" value="c">
      <input type="checkbox" name="one" value="d">
      <p>
	<input type="submit" name="b" value="login">
	<input type="submit" name="b" value="cancel">
    </form>
    
  </body>
</html>
