<!doctype>
<html>
	<head>
		<script src="/static/lib/jquery.min.js"></script>
		<script src="/static/lib/lodash.js"></script>
		<script src="/static/lib/backbone.js"></script>

		<script type="text/template" id="place_template">
				<td><%= name %></td><td><%= rating %></td>
				<td><button id="up">up</button><button id="down">down</button>
		</script>
		
		</head>
	<body>

		<h1>Multi1</h1>

		<table border="1" id="places">
		</table>
		
		<script src="/static/col.js""></script>
	</body>
</html>
