<!doctype>
<html>
	<head>
		<script src="/static/lib/jquery.min.js"></script>
		<script src="/static/lib/lodash.js"></script>
		<script src="/static/lib/backbone.js"></script>

		<script type="text/template" id="place_template">
			<tr>
				<td><%= name %></td><td><%= rating %></td>
				<td><button id="up">up</button><button id="down">down</button><button id="del">delete</button></td>
			</tr>
		</script>
		
		</head>
	<body>

		<h1>Hello</h1>
		<button id="r1">Random button 1</button>
		<table border="1" id="place">
		</table>
		<button>Random button 2</button>
	<script src="/static/app.js""></script>
	</body>
</html>
