{% extends "base.html"%}
{% block body %}

<script type="text/template" id="composite-template">
	<h2>All the places</h2>
	<h3><%= last %>, <%= first %></h3>
	<h4>Stars: <%= stars %></h4>
	<h3>
		<% for (var i = 0 ; i < stars ; i ++) { %>
		 &#9733;
		<% } %>
	</h3>
	New Place: <input id="newname">
	<button class="pure-button pure-button-primary" id="add">Add!!</button>
	<table class="pure-table pure-table-bordered">
		<thead>
			<tr>
				<td>name</td><td>Rating</td><td colspan="3">Controls</td>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<h4>Place footer</h4>
</script>

<script type="text/template" id="place-template">
	<td><%- name %></td><td><%- rating %></td>
	<td><button id="up">up</button></td>
	<td><button id="down">down</button></td>
	<td><button id="delete">delete</button></td>
</script>

<script type="text/template" id="static-template">
	<h3>A static template</h3>
	<p>Maybe with a paragaph</p>
	<blockquote class="pure-blockquote">And a quote</blockquote>
</script>
<div class="pure-g">
	<div class="pure-u-1-12"></div>
	<div class="pure-u-5-6">
		<h1>Marionette stuff</h1>
		<a href="#one"><button class="pure-button pure-button-primary">one</button></a>
		<a href="#two"><button class="pure-button pure-button-primary">two</button></a>

		<div id="first-region">
			First region
		</div>
		<hr>
		<table class="pure-table pure-table-bordered" id="second-region">
		</table>
		<hr>
		<table class="pure-table pure-table-bordered" id="third-region">
		</table>
		<hr>
		<div id="fourth-region">
			Fourth regionq
		</div>
	</div>
</div>
<script src="static/app.js"></script>

{% endblock %}
