<!DOCTYPE html>
<html>
		<head>
				{% block head%}
				<style>
						.green {color :#00ff00;}
				</style>
				<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1-rc2/jquery.js"></script>
				<title> {%block title%}Awesome Quote Page{%endblock%}</title>
				{% endblock %}
		</head>
		<body>
				{% block header %}
				<h1>The awesome quote page </h1>
				{% endblock%}

				{%block content %}
				<div id="content">
						This is where the content for the page goes
				</div>
				{% endblock %}

				{% block footer %}
				<hr>
				<h4>The footer for the awesome page</h4>
				{% endblock%}
		</body>
</html>
